---
yaml-files:
- "*.yaml"
- "*.yml"
- .yamllint

rules:
  braces: enable
  brackets: enable
  colons: enable
  commas: enable
  comments:
    level: warning
  comments-indentation:
    level: warning
  document-end: disable
  document-start: disable
  empty-lines: disable
  empty-values: disable
  hyphens: enable
  indentation:
    level: error
    spaces: 2
    indent-sequences: false
  key-duplicates: enable
  key-ordering: disable
  line-length:
    max: 100
  new-line-at-end-of-file: enable
  new-lines:
    type: unix
  octal-values: enable
  quoted-strings:
    required: only-when-needed
    quote-type: double
  trailing-spaces: enable
  truthy:
    level: warning
