units:
  wraps:
  - name: AnsibleCVEWarningWrap
    type: wrap
    should_include:
      adviser_pipeline: true
    match:
      state:
        resolved_dependencies:
        - name: ansible
    run:
      justification:
      - type: WARNING
        message: >-
          Package 'ansible' is known to have at least 3 vulnerabilities reported in releases
        link: cve_warning
        package_name: ansible
        metadata:
        - prescriptions_repository: git@github.com:thoth-station/prescriptions.git
          prescriptions_version: 0.8.0
          last_cve_database_update: 2022-12-03 00:00:05.673126

