units:
  wraps:
  - name: DockerGitHubReleaseNotesWrap
    type: wrap.GHReleaseNotes
    should_include:
      adviser_pipeline: true
    match:
      state:
        resolved_dependencies:
        - name: docker
    run:
      release_notes:
        organization: docker
        repository: docker-py
    metadata:
      prescriptions_repository: git@github.com:thoth-station/prescriptions.git
      prescriptions_version: 0.7.4
